:root {
  --color: #1f2123;
  --color-primary: #00A86B;
  --color-secondary: #0e2233;
  --bg: #dadcdb;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --card-color: #717171;
  --card-text: #e0e0e0;
  --bg-trs: #fcfcfc;
  --bg-ending: #bdbdbd;
  --circle-color: rgba(14, 14, 14, 0.64)
}

.dark-mode {
  --color: #ffffff;
  --color-secondary: #9c9d9e;
  --color-primary: #00A86B;
  --bg: #1c1f21;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --card-color: #1f1f1f;
  --card-text: #ebf4f1;
  --circle-color: rgba(135, 135, 135, 0.15);
  --bg-trs: #1f2123;
  --bg-ending: #1f1f1f;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(at 300px 300px, var(--bg-trs) 0, var(--bg-ending) 80%);
}

main {
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s ease-in-out;
}

.card {
  color: var(--card-text) !important;
  background: rgba(21,20,20,0) !important;
  border: solid 1px var(--card-color) !important;
  transition: background-color .5s;
  border-radius: 10px !important;
}

.v-list {
  border-radius: 10px !important;
}

.card-text {
  color: var(--card-text) !important;
}

.primary-text {
  color: var(--color-primary) !important;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.white-text {
  color: var(--color) !important;
}

.secondary-color {
  color: var(--color-secondary) !important;
}

.secondary-border {
  border: solid 1px var(--color-secondary) !important;
}

.home-enter-active, .home-leave-active { transition: opacity .10s; }
.home-enter, .home-leave-active { opacity: 0; }

/* Animation effect */
.raise:hover,
.raise:focus {
  box-shadow: 0 0.3em 0.3em -0.2em var(--color-primary);
  transform: translateY(-0.10em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--color-primary);
}

.transition-h:hover {
  transform: scale(1.1);
}
